doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title Название страницы
		meta(name="viewport" content="device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" style="css" href="./static/css/styles.css")
	body
		.wrapper
			include ../modules/header.pug
			block content
			include ../modules/footer
