section.recipe-ingredients
	.container
		h2.recipe-ingredients__title.section__title Ингредиенты
		.recipe-ingredients__wrapper
			.recipe-ingredients__inner
				.recipe-ingredients__box
					h3.recipe-ingredients__name Лазанья
					ul.recipe-ingredients__list
						li.recipe-ingredients__item
							span.recipe-ingredients__component Фарш (говядина + свинина)
							span.recipe-ingredients__line
							span.recipe-ingredients__count 1 кг
						li.recipe-ingredients__item
							span.recipe-ingredients__component Листы лазаньи
							span.recipe-ingredients__line
							span.recipe-ingredients__count 200 г
						li.recipe-ingredients__item
							span.recipe-ingredients__component Помидоры
							span.recipe-ingredients__line
							span.recipe-ingredients__count 500 г
						li.recipe-ingredients__item
							span.recipe-ingredients__component Морковь
							span.recipe-ingredients__line
							span.recipe-ingredients__count 150 г
						li.recipe-ingredients__item
							span.recipe-ingredients__component Лук
							span.recipe-ingredients__line
							span.recipe-ingredients__count 200 г
						li.recipe-ingredients__item
							span.recipe-ingredients__component Сыр пармезан
							span.recipe-ingredients__line
							span.recipe-ingredients__count 250 г
						li.recipe-ingredients__item
							span.recipe-ingredients__component Чеснок
							span.recipe-ingredients__line
							span.recipe-ingredients__count 2 зубчика
						li.recipe-ingredients__item
							span.recipe-ingredients__component Соль
							span.recipe-ingredients__line
							span.recipe-ingredients__count по вкусу
			.recipe-ingredients__inner
				.recipe-ingredients__box
					h3.recipe-ingredients__name Соус Бешамель
					ul.recipe-ingredients__list
						li.recipe-ingredients__item
							span.recipe-ingredients__component Молоко
							span.recipe-ingredients__line
							span.recipe-ingredients__count 1 л
						li.recipe-ingredients__item
							span.recipe-ingredients__component Мука
							span.recipe-ingredients__line
							span.recipe-ingredients__count 100 г
						li.recipe-ingredients__item
							span.recipe-ingredients__component Масло сливочное
							span.recipe-ingredients__line
							span.recipe-ingredients__count 100 г
						li.recipe-ingredients__item
							span.recipe-ingredients__component Мускатный орех
							span.recipe-ingredients__line
							span.recipe-ingredients__count 1 чайная ложка
