section.recipe-steps
	.container
		h2.recipe-steps__title.section__title Рецепт
		ul.recipe-steps__list
			li.recipe-steps__item
				.recipe-steps__box
					span.recipe-steps__count 1
					p.recipe-steps__text Обжариваем лук с морковью и чесноком 10 минут и добавляем фарш, тушим все вместе еще 5 минут
			li.recipe-steps__item
				.recipe-steps__box
					span.recipe-steps__count 2
					p.recipe-steps__text Добавляем в фарш томаты и тушим еще 15 минут
			li.recipe-steps__item
				.recipe-steps__box
					span.recipe-steps__count 3
					p.recipe-steps__text Для соуса Бешамель обжариваем муку на сливочном масле и добавляем молоко, тушим 10 минут
			li.recipe-steps__item
				.recipe-steps__box
					span.recipe-steps__count 4
					p.recipe-steps__text Выкладываем на противень листы лазаньи, сверху фарш с овощами и соус Бешамель, посыпаем сыром и в духовку на 30 минут при 180˚
