section.advantages
	.container
		ul.advantages__list
			li.advantages__item
				.advantages__inner
					h3.advantages__title Быстро
					p.advantages__text На сайте вы можете быстро найти вкусные рецепты
					img.advantages__img(src='static/images/common/icon-clock.svg' alt='Иконка преимущества' width='125' height='127')
			li.advantages__item
				.advantages__inner
					h3.advantages__title Просто
					p.advantages__text Все рецепты создаются обычными пользователями
					img.advantages__img(src='static/images/common/icon-star.svg' alt='Иконка преимущества' width='125' height='127')
			li.advantages__item
				.advantages__inner
					h3.advantages__title Дешево
					p.advantages__text На рецепты не придется тратить много денег
					img.advantages__img(src='static/images/common/icon-basket.svg' alt='Иконка преимущества' width='125' height='127')
