extends layout/layout
block content
	main.catalog-page
		section.hero
			.hero__content
				.container
					.hero__body
						h1.hero__title
							span.text-line Каталог рецептов
						p.hero__description На нашем сайте собрано около 50 000 рецептов. И это не просто огромный массив кулинарных рецептур, а проверенные на домашних кухнях любимые блюда наших пользователей.
						.hero__pointer
							img.hero__pointer-arrow(src='static/images/common/icon-arrow.png' alt='Стрелка указывающая на блюдо' width='192' height='46')
							p.hero__pointer-text Салат с тунцом #[br] (на обед)
			.hero__image
				img.hero__img(src='static/images/content/hero-catalog@1x.png' srcset='static/images/content/hero-catalog@2x.png 2x' width='660' height='670' alt='Изображение салата')
		include ./modules/best-recipes/best-recipes
		include ./modules/all-recipes/all-recipes

